
          <img src="assets/img/WhatsApp Image 2023-12-05 at 07.57.46_b0c0c8b1.jpg" style="width: 75%;height: 75%;"class="img-fluid" alt="">
          <h4>Robe 17$</h4>
          <div class="portfolio-info">
            <h4>Robe</h4>
            <p>Robes</p>
            <a href="assets/img/WhatsApp Image 2023-12-05 at 07.57.46_b0c0c8b1.jpg"style="width: 75%;height: 75%;" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
       

    
          <img src="assets/img/WhatsApp Image 2023-12-05 at 16.41.27_dceabaa0.jpg"style="width: 75%;height: 75%;" class="img-fluid" alt="">
          <h4> 10$</h4>
          <div class="portfolio-info">
            
            <a href="assets/img/WhatsApp Image 2023-12-05 at 16.41.27_dceabaa0.jpg"style="width: 75%;height: 75%;" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
      

       
          <img src="assets/img/WhatsApp Image 2023-12-05 at 07.58.42_263c63c9.jpg" style="width: 75%;height: 75%;" class="img-fluid" alt="">
          <h4> 20$</h4>
          <div class="portfolio-info">
            <h4>App 2</h4>
            <p>App</p>
            <a href="assets/img/WhatsApp Image 2023-12-05 at 07.58.42_263c63c9.jpg" style="width: 75%;height: 75%;" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        

    
          <img src="assets/img/WhatsApp Image 2023-12-05 at 16.41.24_f47558ea.jpg"style="width: 75%;height: 75%;" class="img-fluid" alt="">
          <h4>25$</h4>
          <div class="portfolio-info">
            
            <a href="assets/img/WhatsApp Image 2023-12-05 at 16.41.24_f47558ea.jpg"style="width: 75%;height: 75%;" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
      

        
          <img src="assets/img/WhatsApp Image 2023-12-05 at 16.41.27_32078ba6.jpg"style="width: 75%;height: 75%;" class="img-fluid" alt="">
          <h4>10$</h4>
          <div class="portfolio-info">
            
            <a href="assets/img/WhatsApp Image 2023-12-05 at 16.41.27_32078ba6.jpg"style="width: 75%;height: 75%;" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
       

       


          <img src="assets/img/WhatsApp Image 2023-12-05 at 07.59.09_c79118e8.jpg"style="width: 75%;height: 75%;" class="img-fluid" alt="">
          <h4>18$</h4>
          <div class="portfolio-info">
            
            <a href="assets/img/WhatsApp Image 2023-12-05 at 07.59.09_c79118e8.jpg"style="width: 75%;height: 75%;" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
    

   
          <img src="assets/img/WhatsApp Image 2023-12-05 at 16.41.24_55a13a83.jpg"style="width:75%;height:75% ;" class="img-fluid" alt="">
          <h4>20$</h4>
          <div class="portfolio-info">
            
            <a href="assets/img/WhatsApp Image 2023-12-05 at 16.41.24_55a13a83.jpg"style="width:75%;height:75% ;" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
     

       
          <img src="assets/img/WhatsApp Image 2023-12-05 at 07.56.38_da4a606a.jpg"style="width: 75%;height: 75%;" class="img-fluid" alt="">
          <h4>40$</h4>
          <div class="portfolio-info">
            
            <a href="assets/img/WhatsApp Image 2023-12-05 at 07.56.38_da4a606a.jpg"style="width: 75%;height: 75%;" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
       

     

