<header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <h1><a href="index.html">Lingerie Marguerita</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
    
  <a class="button" routerLink="/formen">For men</a> |
  <a class="button" routerLink="/forwomen">For women</a>
       <a routerLink="/users/create" routerLinkActive="active">Take Order</a>
      
       <router-outlet></router-outlet>
       
        
        
       
          
    </nav><!-- .navbar -->
   
      

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <h1>Welcome</h1>

    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div class="col-lg-6">
        
         
<h3>clothes for babies<br>
  gift items<br>
  lingerie<br>
  bedspreads<br>
  cosmetic</h3>

        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
       <img src="assets/img/M1.jpg">
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title">
        <h2>For Men</h2>
       
      </div>


    </div>
  </section><!-- End Featured Section -->


  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>For Women</h2>
      
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Robes</li>
            <li data-filter=".filter-card">Pj</li>
            <li data-filter=".filter-web">other</li>
          </ul>
        </div>
      </div>

    
       
    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Team Section ======= -->
  

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container">

      <div class="section-title">
        <h2>For kids</h2>
     
      </div>
  
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="box">
            <img src="assets/img/WhatsApp Image 2023-12-05 at 16.41.29_e08592f4.jpg"style="width:75%;height:75%">
            <h4></h4>
           
            </div>
          </div>
        

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box featured">
           
            <img src="assets/img/WhatsApp Image 2023-12-05 at 16.41.32_5c0e88fe.jpg"style="width:75%;height:75%">
            <h4></h4>
            
           
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box">
           
            <img src="assets/img/WhatsApp Image 2023-12-05 at 16.41.32_ed7ec41b.jpg"style="width:75%;height:75%">
            <h4></h4>
            
            <div class="btn-wrap">
             
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq">
    <div class="container">

      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
      </div>

      <div class="row  d-flex align-items-stretch">

        <div class="col-lg-6 faq-item">
          <i class="bx bx-help-circle"></i>
          <img src="assets/img/WhatsApp Image 2023-12-05 at 16.41.29_77f952a5.jpg"style="width:75%;height:75%">
          <h4>22$</h4>
          
        </div>

        <div class="col-lg-6 faq-item">
          <i class="bx bx-help-circle"></i>
          <img src="assets/img/WhatsApp Image 2023-12-05 at 16.41.29_f4f238e5.jpg"style="width:75%;height:75%">
          <h4>8$</h4>
        
          
        </div>

        <div class="col-lg-6 faq-item">
          <i class="bx bx-help-circle"></i>
          <img src="assets/img/WhatsApp Image 2023-12-05 at 16.41.30_b3594200.jpg"style="width:75%;height:75%">
         
        </div>

        <div class="col-lg-6 faq-item">
          <i class="bx bx-help-circle"></i>
          <img src="assets/img/WhatsApp Image 2023-12-05 at 16.41.33_752fbdf3.jpg"style="width:75%;height:75%">
         
        </div>

       

      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->



  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
      </div>
    </div>

    <div class="container">
      <div class="row mt-5 justify-content-center">

        <div class="col-lg-10">

          <div class="info-wrap">
            <div class="row">
              <div class="col-lg-4 info">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Kousba El-Koura<br>Main Street, next to Veteranos Clinic</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>yousseffaddoul52@gmail.com</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+96170171891<br>+96176449282</p>
              </div>
            </div>
          </div>

        </div>

      </div>

     

      </div>

    
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">

    <div class="container">

      <div class="row  justify-content-center">
        <div class="col-lg-6">
          <h3>Marguerita</h3>
          <p></p>
        </div>
      </div>
     

      <div class="row footer-newsletter justify-content-center">
        <div class="col-lg-6">
          <form action="" method="post">
            <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>

      <div class="social-links">
       
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/margueritta_shop" class="instagram"><i class="bx bxl-instagram"></i></a>
       
      </div>

    </div>
  </div>

 
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
