
      
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <img src="assets/img/WhatsApp Image 2023-12-01 at 12.04.24_a00b8fa8.jpg" class="card-img-top" style="width: 75%;height: 75%;" alt="...">
          <h4 class="title"><a href="">Pijama wilsoft 27$ ,size: medium to xxl</a></h4>
          <p class="description"></p>
    
      
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <img src="assets/img/WhatsApp Image 2023-12-01 at 12.04.24_e09113e7.jpg" class="card-img-top" style="width: 75%;height: 75%;" alt="...">
          <h4 class="title"><a href="">Pijama wilsoft 20$ ,size: medium to xxl</a></h4>
          <p class="description"></p>
    
      
          <div class="icon"><i class="bi bi-bar-chart"></i></div>
          <img src="assets/img/WhatsApp Image 2023-12-01 at 12.04.24_b2852b17.jpg" class="card-img-top" style="width: 75%;height: 75%;" alt="...">
          <h4 class="title"><a href="">Pijama wilsoft 25$ ,size: medium to xxl</a></h4>
          <p class="description"></p>
     
    
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <img src="assets/img/WhatsApp Image 2023-12-01 at 12.04.24_8c3fae3c.jpg" class="card-img-top" style="width: 75%;height: 75%;" alt="...">
          <h4 class="title"><a href="">Pijama cotton 23$ , size:medium to xxl</a></h4>
          <p class="description"></p>
     
        
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <img src="assets/img/WhatsApp Image 2023-12-01 at 12.04.24_6d886586.jpg" class="card-img-top" style="width: 75%;height: 75%;" alt="...">
          <h4 class="title"><a href="">Boxers 18$</a></h4>
          <p class="description"></p>
        
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <img src="assets/img/WhatsApp Image 2023-12-01 at 12.04.24_e3f24b6c.jpg" class="card-img-top" style="width: 75%;height: 75%;" alt="...">
          <h4 class="title"><a href="">1 piece for 12$</a></h4>
          <p class="description"></p>
       
